.exercise-form {

    &-title {
        text-align: center;
        font-size: 30px;
    }

    &-input {
        display: block;
    }

    &-buttons {
        justify-content: center;
    }


}


#UploadFileInput {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}