@import '~@angular/material/theming';
@import '../../../../styles.scss';

.exercise-form {

    &-title {
        text-align: center;
        font-size: 30px;
    }

    &-input {
        display: block;
    }

    &-buttons {
        justify-content: center;
    }

    &-multimedia-container {
        margin-bottom: 10px;
    }

    &__multimedia-btn {
        background-color: $fitdata-app-primary;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

}


#UploadFileInput {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
}