.exercise {
    &-content {
        margin: 2%;
    }

    &-button {
        margin-bottom: 10px;
    }
    &-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2%;
    } 

    &__container-buttons {
        display: flex;
        justify-content: center;
    }
}
