.exercise {
    &-content {
        margin: 2%;
    }

    &-button {
        margin-bottom: 15px;
    }
    &-title {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2%;
    } 

    &__container-buttons {
        display: flex;
        justify-content: center;
    }
}

.muscle-group {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    background: #fff;
    color: black;
    padding: 15px;
    border-radius: 10px;
}

.muscle-group:hover {
    background-color: #161616;
    color: #fff;
    border: 1px solid #fff;
    transition: width 1s;
}