<div class="signin">
    <div class="title">
        <h1>FitData</h1>
        <p>Aplicación para el registro de tu progreso de ejercicios</p>
    </div>

    <div class="content">
        <h2 class="title">Inicio de Sesión</h2>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="signin-input" fxLayout="row" fxLayout.xs="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxFlexAlign="center">
                <div fxFlex="100%">
                    <mat-form-field appearance="fill">
                        <input placeholder="Correo Electrónico" matInput type="email" formControlName="email">
                        <mat-label>Correo Electrónico</mat-label>
                    </mat-form-field>
                </div>
            </div>
            <div class="signin-input" fxLayout="row" fxLayout.xs="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxFlexAlign="center">
                <div fxFlex="100%">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%"
                fxFlexAlign="center">
                <div fxFlex="100%" class="box-button">
                    <button  mat-raised-button type="submit" [disabled]="formLogin.invalid">
                        <span>Iniciar Sesión</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>