@import '~@angular/material/theming';
@include mat-core();

$fitdata-palette: (
  50: #ffffff,
  100: #2f343b,
  200: #161616,
  300: #050505,
  400: #f72a2a,
  contrast: (
    50: #ffffff,
  )
);

$fitdata-primary: mat-palette($fitdata-palette,100);
$fitdata-accent: mat-palette($fitdata-palette,200);
$fitdata-bold: mat-palette($fitdata-palette,300);
$fitdata-warn: mat-palette($fitdata-palette,400);

$fitdata-theme: mat-light-theme((
  color: (
    primary: $fitdata-primary,
    accent: $fitdata-accent,
    warn:  $fitdata-warn,
  )
));

@include angular-material-theme($fitdata-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
